numpy==1.26.4
Pillow==9.5.0
requests==2.31.0
torch==2.1.0+cu118
transformers~=4.40.2
timm==0.9.16
opencv-python==4.9.0.80
torchvision==0.16.0+cu118
safetensors==0.4.2
uvicorn==0.29.0
pydantic==2.6.4
pydantic_core==2.16.3
einops==0.8.0
omegaconf==2.2.3
imageio==2.34.0
packaging==24.0
gradio==3.41.2
gradio_client==0.5.0
diffusers==0.29.2
scipy==1.11.4
tqdm==4.66.2
gfpgan==1.3.8
pydub==0.25.1
torchaudio==2.1.0+cu118
facexlib==0.3.0
PyYAML==6.0.1
yacs==0.1.8
kornia==0.6.12
scikit-image==0.22.0
matplotlib==3.8.3
pandas==2.2.1
xformers==0.0.22.post7+cu118
torchsde==0.2.6
fsspec==2024.2.0
aiohttp==3.9.3
onnxruntime==1.17.1
moviepy==1.0.3
optimum==1.20.0
tomesd==0.1.3
compel==2.0.2
insightface==0.7.3
trimesh==4.2.0
librosa==0.10.1
scikit-learn==1.4.1.post1
prettytable==3.10.0
easydict==1.13
onnx==1.15.0
fastapi==0.103.1
omegaconf==2.3.0
tqdm==4.66.4
vector_quantize_pytorch
vocos==0.1.0
IPython
celluloid==0.2.0
librosa==0.10.1
numpy==1.26.4
omegaconf==2.3.0
ptflops==0.7.1.2
rich==13.7.1
soundfile==0.12.1
resampy==0.4.2
tabulate==0.9.0
jieba==0.42.1
srt==3.5.3
pypinyin==0.51.0
cn2an
SQLAlchemy==2.0.31
huggingface-hub==0.23.4
typing_extensions==4.10.0
psutil==5.9.8
pytest==8.2.2
deepspeed~=0.13.1+fed2284